<body class="is-preload">
    <div id="page-wrapper">
        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container">
                <h3>Співпраця:</h3>
                <ul>
                    <li>м.Хмельницький, Україна</li>
                    <li>Гармасар Сергій Романович</li>
                    <li>+380671053214</li>
                    <li>cepa723@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>


@* <table>
        <tr>
            <td>
                <p>
                    <h2>Співпраця:</h2><br />
                    м.Хмельницький, Україна<br />
                    Гармасар Сергій Романович<br />
                    +380671053214<br />
                    cepa723@gmail.com<br />
                </p>
            </td>
            <td>
                <p>
                    <h2>Співпраця:</h2><br />

                </p>
            </td>
        </tr>
    </table> *@
