<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Що таке 3D принтер, та навіщо він потрібен?</h2>
            <p>
                Ще недавно сама думка про те, щоб друкувати об'ємні предмети, була чимось з області фантастики.
                А сьогодні 3D-принтери та сканери перетворюються на звичайну повсякденну техніку.
            </p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <h3>Заголовок послуг(Sidebar)</h3>
                        <p>Зміст послуг..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Дізнайся більше</a></li>
                            </ul>
                        </footer>
                    </section>
                    <hr />
                    <section>
                        <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                        <h3>Заголовок послуг 2(Sidebar)</h3>
                        <p>Зміст послуг2..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Дізнайся більше</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <section id="content">
                    <a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                    @*<h3>3D-моделювання</h3>
                    <p>
                        Процес розробки математичного представлення будь-якої тривимірної поверхні об'єкта за допомогою спеціалізованого ПЗ.
                        Продукт моделювання є 3D-модель.
                    </p>*@
                    <p>
                        Основний плюс 3D-друку і сканування в тому, що будь-який бажаючий може практично будь-яку потрібну йому річ або деталь зробити самостійно, не виходячи з дому - не потрібно шукати її в магазинах, чекати доставки ...
                        Як і більшість технічних новинок, спочатку 3D-принтери були розраховані на великі і середні виробництва: фабрики, науково-дослідні центри. Звідси - громіздкі розміри і висока ціна. Але сьогодні 3D-технології все більш затребувані приватними покупцями і малим бізнесом і переорієнтуються на нас з вами.
                        Головне призначення 3D-принтерів зовсім не розваги, а робота і навчання. Якщо ви архітектор або дизайнер (або вчіться на архітектора або дизайнера), 3D-принтер дозволить вам виготовляти наочні моделі і макети в точності відповідають заданим вами параметрам.
                        Художники оцінять зручність виготовлення унікальних об'єктів для інсталяцій, модельєри - простоту виготовлення окремих частин одягу та взуття, аксесуарів або навіть костюмів цілком.
                        Для цих же цілей 3D-принтери з успіхом можуть використовувати і непрофесіонали - люди з творчими хобі. Простір для використання 3D-друку в світі хобі величезний: шанувальники кіно, аніме, комп'ютерних ігор, колекціонери і любителі моделювання можуть друкувати фігурки улюблених героїв, деталі авіамоделей для збирання та багато іншого. Сучасні 3D-принтери дозволяють друкувати об'єкти в двох і навіть в трьох кольорах. І, звичайно, надруковані моделі можна при бажанні розфарбовувати в ручну.
                        Все більш широко її використовують у медицині, причому, не тільки лікарі, а й самі пацієнти. За допомогою 3D-принтерів по всьому світу вже зараз друкують протези рук і ніг для дорослих і дітей.
                        Устаткування для 3D-друку і сканування - перспективне вкладення для будь-якого бізнесу від великого промислового виробництва автомобілів до маленької рекламної фірми або магазинчика.
                        3D-принтер - відмінне підмога для студентів різних спеціальностей, а також вчених і викладачів ВНЗ. Та й самі технології 3D-друку - найцікавіше поле для вивчення і нових розробок.
                        Ну, і, нарешті, практично безмежні можливості застосування 3D-принтерів в побуті роблять їх ідеальними помічниками для майстрів на всі руки, які самі займаються ремонтом меблів, побутової техніки або свого автомобіля, самі виготовляють форми для відливання металевих або пластикових деталей ...
                        Досить створити 3D-модель в спеціальній програмі і відправити завдання на друк. Програми для 3D-моделювання вже зараз розраховані на широку аудиторію.
                        Можна і зовсім нічого не створювати самому, а скористатися однією з численних безкоштовних моделей, викладених в інтернеті у відкритих або платних базах даних наприклад, www.thingiverse.com. Кількість таких моделей вже сьогодні обчислюється сотнями тисяч і зростає щодня.
                        Почніть освоювати технології майбутнього вже сьогодні - це куди простіше, ніж здається!
                    </p>
                    <h3>Sed Magna Ornare</h3>
                    <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                    <ul>
                        <li>Faucibus orci lobortis ac adipiscing integer.</li>
                        <li>Col accumsan arcu mi aliquet placerat.</li>
                        <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
                        <li>Blandit massa non blandit tempor interdum.</li>
                        <li>Lacinia mattis arcu nascetur lobortis.</li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
