<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>3D-моделювання</h2>
            <p>
                Процес розробки математичного представлення будь-якої тривимірної поверхні об'єкта за допомогою спеціалізованого ПЗ.
                Продукт моделювання є 3D-модель.
            </p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <h3>Заголовок послуг(Sidebar)</h3>
                        <p>Зміст послуг..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Дізнайся більше</a></li>
                            </ul>
                        </footer>
                    </section>
                    <hr />
                    <section>
                        <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                        <h3>Заголовок послуг 2(Sidebar)</h3>
                        <p>Зміст послуг2..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Дізнайся більше</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <section id="content">
                    <a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                    <h3>Алгоритми моделювання</h3>
                    <p>
                        Тут перераховані математичні підходи, що інтегровані в тому чи іншому вигляді у програмне забезпечення і виділяють за своїми можливостями різні алгоритми для створення однієї і тієї ж моделі, кожна із яких має своєрідні властивості. Загалом на сьогодні усі алгоритми можна поділити на чотири категорії:
                    </p>
                    <p>
                        <ul>
                            <li>
                                Сплайнове моделювання (термін «сплайн» означає криві, що бувають різних типів)
                            </li>
                            <li>
                                Полігональне моделювання — точки в 3D-просторі, вершини (англ. Vertex), з'єднані між собою лінією — ребром (англ. Edge), утворюють поверхню (англ. Faces) за законами створення геометричних площин. Набір об'єднаних площин називають полігональною сіткою (англ. Polygon mesh). Більша частина 3D-моделей сьогодні будується як текстуровані багатокутні моделі, оскільки вони досить гнучкі і комп'ютер може відрендерити їх досить швидко. Однак, багатокутники є плоскими й можуть тільки приблизно передати вигнуті поверхні, використовуючи багато багатокутників. Процес перетворення гладких поверхонь в багатокутники називається тесселяцією;
                            </li>
                            <li>
                                Моделювання за допомогою сабдивів (англ. Subdivision surfaces) — один із сучасних алгоритмів, який прогресивно розвивається і все більш нарощує конкуренцію двом попереднім.
                            </li>
                            <li>
                                Процедурне моделювання — таке моделювання дозволяє оперувати масштабними проектами, вимагає у більшості пайплайну, тому використовується великими студіями комп'ютерної графіки;
                            </li>
                        </ul>
                        
                    </p>
                    <h3>Sed Magna Ornare</h3>
                    <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                    <ul>
                        <li>Faucibus orci lobortis ac adipiscing integer.</li>
                        <li>Col accumsan arcu mi aliquet placerat.</li>
                        <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
                        <li>Blandit massa non blandit tempor interdum.</li>
                        <li>Lacinia mattis arcu nascetur lobortis.</li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
