<header id="header">
    <h1 id="logo"><a href="~/Home/Index">3D Plast Printer</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="~/Home/Index">3D Plast Home page</a></li>
            <li>
                <a href="#">Зміст</a>
                <ul>
                    <li>
                        <a href="#">Галерея</a>
                        <ul>
                            <li><a href="~/Services/GallaryPhotosOfProducts">Фото готових виробів</a></li>
                            <li><a href="~/Services/PhotoPrinter">Фото 3д принтера</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Послуги</a>
                        <ul>
                            <li><a href="~/Services/CustomPrinting">3D Друк на замовлення</a></li>
                            <li><a href="~/Services/CustomModelDevelopment">Розробка 3D моделей</a></li>
                        </ul>
                    </li>
                    @*<li><a href="#">Створення сайтів на .Net</a></li>
                    <li>
                        <a href="#">Підменю</a>
                        <ul>
                            <li><a href="#">заготовка підменю</a></li>
                            <li><a href="#">заготовка підменю</a></li>
                            <li><a href="#">заготовка підменю</a></li>
                            <li><a href="#">заготовка підменю</a></li>
                        </ul>
                    </li>*@
                </ul>
            </li>
            <li><a href="~/Home/About">Контакти</a></li>
            <li><a href="#" class="button primary">Вхід</a></li>
        </ul>
    </nav>
</header>
